---
section: Projects
# TODO custom description?
---

{% include head.html %}

    <style>
    </style>

{% include body.html %}

    <section>

        <h2>
            Monkey see, monkey do
        </h2>

        <p>
            Please excuse the construction in this humble corner of the web.
        </p>

    </section>

    <!-- TODO -->

    <section>

        <h2>
            A quick list
        </h2>

        <p>
            In reverse chronological order:
        </p>

        <ul>
            <li>
                <p>
                    Building something new at
                    <strong><a href="http://www.fiftythree.com/" target="_blank">
                        FiftyThree</a></strong>. Join me —
                    <a href="http://www.fiftythree.com/jobs" target="_blank">
                        we're hiring</a>.
                </p>
            </li>
            <li>
                <p>
                    Co-founded and built <strong><a href="http://www.thethingdom.com/" target="_blank">The Thingdom</a></strong>,
                    a social network centered around products, with
                    <a href="http://gasi.ch/" target="_blank">Daniel Gasienica</a>.
                    Acquired by <a href="http://www.fiftythree.com/" target="_blank">
                        FiftyThree</a>.
                </p>
            </li>
            <li>
                <p>
                    Contributed multi-touch pan, swipe and hi-res zoom to
                    <strong><a href="http://i.playboy.com/" target="_blank">iPlayboy</a></strong>,
                    an HTML5 iPad magazine viewing app developed by
                    <a href="http://bondidigital.com/" target="_blank">Bondi Digital</a>.
                </p>
            </li>
            <li>
                <p>
                    Authored <strong><a href="http://zoom.it/" target="_blank">Zoom.it</a></strong>,
                    a website and service for fun and easy viewing and sharing of high-res imagery.
                </p>
            </li>
            <li>
                <p>
                    Authored <strong><a href="http://seadragon.com/ajax" target="_blank">Seadragon Ajax</a></strong>,
                    a JavaScript library for instant streaming and smooth zooming of high-res imagery.
                </p>
            </li>
            <li>
                <p>
                    Contributed to <strong><a href="http://blogs.msdn.com/b/ie/archive/2010/06/07/ie-diagnostics.aspx" target="_blank">IE Diagnostics</a></strong>,
                    a <a href="http://en.wikipedia.org/wiki/DxDiag" target="_blank">DxDiag</a>-inspired tool that ships with the IE9 Platform Previews.
                </p>
            </li>
            <li>
                <p>
                    Authored <strong><a href="http://addons.mozilla.org/en-us/firefox/addon/thumbstrips/" target="_blank">Thumbstrips</a></strong>,
                    a Firefox extension that makes browsing history visual and easily accessible.
                </p>
            </li>
        </ul>

        <p>
            Find more at <a href="https://github.com/aseemk" target="_blank">
                GitHub</a>.
        </p>

    </section>

{% include foot.html %}
