# Many thanks to:
# http://cantonbecker.com/work/musings/2009/strip-www-off-urls-at-godaddy-using-htaccess-mod_rewrite/

# Override GoDaddy defaults that inhibit URL rewriting
Options -MultiViews
RewriteEngine On

# Rewrite URLs to remove www from domain name
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Friendly URLs for section home pages!
# TODO is there a simpler way to write this w/out duplication?
RewriteRule ^$          home.php
RewriteRule ^about/$    about.php
RewriteRule ^blog/$     blog/blog.php
RewriteRule ^music/$    music.php
RewriteRule ^projects/$ projects.php
RewriteRule ^teaching/$ teaching.php

# Friendly URLs for blog posts! Note no trailing slash.
RewriteRule ^blog/([^.]*)$ blog/posts/$1.php

# Redirect to no-trailing-slash if there's a trailing slash:
# TODO this doesn't seem to work, but not sure we need it anyway
#RewriteRule ^blog/(\d{4})/(\d{2})/(\d{2})/(.*?)/$    blog/$1/$2/$3/$4 [R]
