# Important: this .htaccess file is only used during devleopment.
# GitHub Pages in particular do *not* respect anything in here.
# Only coincidentally, GitHub Pages still support "clean" extensionless URLs:
# https://github.com/aseemk/gh-pages-test

# URL rewriting reference:
# http://httpd.apache.org/docs/current/mod/mod_rewrite.html
RewriteEngine On

# Rewrite URLs to compile LESS to CSS:
# TODO Remove this when we move to straight CSS for GitHub Pages:
RewriteRule ^styles/(.*)\.less\.css$    styles/lessc.php?path=$1.less.css

# Friendly URLs for section home pages!
# TODO Is there a simpler way to write this w/out duplication?
# TODO Update this to ensure it matches GitHub Pages' approach! (E.g. blog)
# In particular, trailing slashes are *not* respected for *.html files!
# So use folders with index.html files rather than top-level files.
RewriteRule ^blog/$     blog/blog.php

# Friendly URLs for blog posts! Note no trailing slash.
# TODO Update this to ensure it matches GitHub Pages' approach!
RewriteRule ^blog/([^.]*)$ blog/posts/$1.php
