/** GENERAL **/

html {
    background-color: white;
    /*text-*/color: #444;
}

body {
    width: 20em;
    margin: 2em auto !important;    /* !important for GoDaddy */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 150%;
}

iframe {    /* TODO target specifically #conash3D0? */
    display: none !important;       /* !important for GoDaddy */
}

strong {
    font-weight: bold;
}

a, a:visited {
    color: #00f;
    text-decoration: none;
}

a:hover, a:active {
    color: #00b;
}

sup {
    font-size: 50%;
    font-style: italic;
    vertical-align: super;
}

/** MOBILE **/

@media screen and (max-width: 480px) {
    body {
        width: auto;
        padding: 0 2em !important;      /* !important for GoDaddy */
        font-size: 100%;
    }
}

/** HEADER **/

header {
    text-align: center;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 125%;
}

/** CONTENT **/

article {
    margin: 2em 0;
}

p, ul {
    margin: 1em 0;
}

li {
    list-style-type: circle;
}

a em {
    background-color: #ff8;
    padding: 0 4px;
}

/** FOOTER **/

footer {
    text-align: right;
}

p#copy {
    color: #888;
    font-style: italic;
}