---
# no title or section; use default of Aseem Kishore
# TODO improve description?
description: Developer, musician, entrepreneur. Please excuse the construction.
---

{% include head.html %}

<!-- TODO re-add the "welcome back" cookie logic? it'd have to be JS-based -->

{% include body.html %}

    <section>

        <h2>Welcome</h2>

        <p>
            Please excuse the construction in this humble corner of the web.
        </p>

    </section>

    <!-- TODO -->

{% include foot.html %}
