</head>
<body>

    <header>

        <h1>
            <a href="/" class="{% if page.url == '/index.html' %}current{% endif %}">Aseem Kishore</a>
        </h1>

        <nav>
            <!--
                XXX Liquid doesn't have a notion of array literals it seems.
                We could construct one for our nav by splitting a string, but
                GitHub's unfortunately on an older version of Liquid w/out it.
                Argh. So until then, manually duplicating markup below...
                TODO FIXME Make this into an array once GitHub updates Liquid!

                Test: (GitHub's version also doesn't support "raw" Liquid)
                << 'About~Blog~Music~Projects~Teaching' | split:'~' | join:',' >>
                 ==>
                {{ 'About~Blog~Music~Projects~Teaching' | split:'~' | join:',' }}
            -->

            <!--
                XXX FIXME super hacky: liquid contains no startsWith() or
                similar, and contains() isn't what we want, so we mimic our
                own by using a unique string...
            -->
            {% capture paddedURL %}BEGIN{{ page.url }}END{% endcapture %}

            {% assign aboutMatch = paddedURL | replace_first:'/about/','MATCH' %}
            <a href="/about/" class="{% if aboutMatch contains 'BEGINMATCH' %}current{% endif %}">
                About</a>

            {% assign blogMatch = paddedURL | replace_first:'/blog/','MATCH' %}
            <a href="/blog/" class="{% if blogMatch contains 'BEGINMATCH' %}current{% endif %}">
                Blog</a>

            {% assign musicMatch = paddedURL | replace_first:'/music/','MATCH' %}
            <a href="/music/" class="{% if musicMatch contains 'BEGINMATCH' %}current{% endif %}">
                Music</a>

            {% assign projectsMatch = paddedURL | replace_first:'/projects/','MATCH' %}
            <a href="/projects/" class="{% if projectsMatch contains 'BEGINMATCH' %}current{% endif %}">
                Projects</a>

            {% assign teachingMatch = paddedURL | replace_first:'/teaching/','MATCH' %}
            <a href="/teaching/" class="{% if teachingMatch contains 'BEGINMATCH' %}current{% endif %}">
                Teaching</a>
        </nav>

    </header>
