    <footer>
        <!-- TODO better semantic alternative for p#copy? -->
        <!-- TODO copyleft? e.g. creative commons? -->
        <p id="copy">
            © 2021 Aseem Kishore.<!--
            --><a class="external twitter" href="https://twitter.com/aseemk" target="_blank">Twitter</a><!--
            --><a class="external linkedin" href="https://www.linkedin.com/in/aseemk/" target="_blank">LinkedIn</a><!--
            --><a class="external substack" href="https://aseemk.substack.com/" target="_blank">Substack</a><!--
            --><a class="external feed" href="http://feeds.feedburner.com/aseemk/blog" target="_blank">Feed</a>
        </p>
    </footer>

</body>
</html>
