---
section: Blog
# TODO custom description?
ogType: blog    # only the root should be this, according to the documentation
---

{% include head.html %}

    <link href="http://feeds.feedburner.com/aseemk/blog" type="application/atom+xml" rel="alternate" title="Aseem Kishore - Blog" />

    <style>
    </style>

{% include body.html %}

    <section>

        <h2>
            The post is mightier
        </h2>

        <p>
            Please excuse the construction in this humble corner of the web.
        </p>

    </section>

    {% for post in site.posts %}
    <a class="post" href="{{ post.url | remove:'.html' | escape }}">
    <article>

        <h2>{{ post.title | escape }}</h2>

        <h3>
            <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            <!-- TODO categories -->
        </h3>

        <p>
            {{ post.description | escape }}
        </p>

        <div class="stats">
            <!-- This gets populated by script below -->
            <span class="comments-count">View comments</span>
        </div>

        <div class="continue">Continue reading &rarr;</div>

    </article>
    </a>
    {% endfor %}

    <!-- TEMP HACK this whole thing feels quite hacky. wish there were easier ways. -->
    <script>
        // Liquid gives us our post URLs as an array, but we can only spit
        // them out as a string (TODO FIXME if Liquid adds a JSON filter or
        // similar -- and GitHub updates to it!), so we do that and construct
        // the array via JS. TODO Escape JS/JSON in this string somehow?
        var postURLs = '{{ site.posts | map:'url' | join:',' }}'.split(',');

        // XXX need to repeat process of making each URL absolute and removing
        // the .html extension from it. argh, Liquid is so limiting!
        // TODO again it'd be nice to JS-/JSON-escape the site URL somehow...
        for (var i = 0; i < postURLs.length; i++) {
            postURLs[i] = '{{ site.url }}' + postURLs[i].replace('.html', '');
        }

        function updateCommentsCounts(objs) {
            var commentsCountSpans = document.querySelectorAll(".comments-count");
            for (var i = 0; i < postURLs.length; i++) {
                var num = objs[postURLs[i]].comments;
                commentsCountSpans[i].innerHTML =
                    num ? (num + " comment" + (num > 1 ? 's' : '')) : "Add a comment";
            }
        }

        document.write([
            '<script src="https://graph.facebook.com/?ids=',
            encodeURIComponent(postURLs.join(',')),
            '&callback=updateCommentsCounts"></',
            'script>'
        ].join(''));
    </script>

{% include foot.html %}
