---
section: Blog
# TODO custom description?
og_type: blog
---

{% include head.html %}

{% include body.html %}

    <section>

        <h2>
            The post is mightier
        </h2>

        <p>
            Please excuse the construction in this humble corner of the web.
        </p>

    </section>

    {% for post in site.posts %}
    {% unless post.draft == true %}
    <a class="post" href="{{ post.url | remove:'.html' | escape }}">
    <article>

        <h2>
            {{ post.title | escape }}

            <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>

            <!-- TODO categories -->
        </h2>

        <p>
            {{ post.description | escape }}
        </p>

        <div class="continue">Continue reading &rarr;</div>

    </article>
    </a>
    {% endunless %}
    {% endfor %}

{% include foot.html %}
