---
section: Blog
og_type: article
---

{% include head.html %}

{% include body.html %}

    <article>

        {% capture postURL %}{{ page.url | remove:'.html' }}{% endcapture %}
        {% capture postURLAbs %}{{ site.url }}{{ postURL }}{% endcapture %}
        {% capture postURLAbsEsc %}{{ postURLAbs | escape }}{% endcapture %}

        <h2>
            <a class="current" href="{{ postURL | escape }}">
                {{ page.title | escape }}</a>

            <time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>

            <!-- TODO: Categories? -->
        </h2>

        <!-- Important: Don't escape content! It'll actually be HTML markup. -->
        {{ content }}

        <!--
            Purposely no more Facebook like button, Twitter tweet button, or Facebook comments widget.
            I'd rather link out to my own social posts these days, e.g. on Twitter or LinkedIn.
            For now, leaving that to individual posts to specify, so it can be tailored (e.g. LinkedIn vs. Facebook).
        -->

    </article>

{% include foot.html %}
