/** CONSTANTS

Colors:
- #444 (less-than-full black) for text; recommended by HTML5BP too
- #00b for links; #006 on hover
- #888 (gray) for secondary text
- #44b for secondary links; #226 on hover
- #eee (light silver) for separators

*/


/** GENERAL LAYOUT **/

html {
    padding: 1em 34px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

@media screen and (max-width: 480px) {
    html {
        padding: 0.5em 1em;
    }
}


/** GENERAL TEXT AND COLORS **/

html {
    /* white background by default */
    /* #444 text color already defined in h5bp-base */
}

/* applying font family uniformly across affected elements as per h5bp! */
body, select, input, textarea {
    color: #444;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Thonburi", sans-serif;
}

body {
    font-size: 120%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    line-height: 1.5;
}

a, a:visited {
    color: #00b;
    text-decoration: none;
}
a:hover, a:active {
    color: #006;
    text-decoration: underline;
}

em {
    font-style: italic;
}

@media screen and (max-width: 480px) {
    li > a, nav > a {
        line-height: 1.5em;
    }
}


/** HEADER **/

header {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

/* This is the main "Aseem Kishore" heading: */
h1 {
    font-size: 250%;
}

/* It's a link to the homepage, but should look normal -- and no underline: */
h1 a, h1 a:visited {
    color: #444;
}
h1 a:hover, h1 a:active {
    color: black;
    text-decoration: none;
}

nav {
    margin: 0.5em auto 1em;
}

nav a {
    margin: 0 0.2em;
}

/** For the nav bar, surround the "current" link with markers. To keep the
    layout consistent, apply the markers to all links; just hide them. */

/*h1 a:before,*/ nav a:before {
    content: "‹";
    margin-right: 0.3em;
}
/*h1 a:after,*/ nav a:after {
    content: "›";
    margin-left: 0.3em;
}

/*h1 a:before, h1 a:after,*/
nav a:before, nav a:after {
    visibility: hidden;
    color: #aaa;
}

nav a:hover:before, nav a:hover:after,
nav a:active:before, nav a:active:after {
    color: #888;
    text-decoration: none;
}

/** XXX FIXME the text-decoration none on the :before and :after markers above
    doesn't seem to be having an effect, so preventing underline on the entire
    link itself... not ideal. TODO investigate... */
/*h1 a.current:hover, h1 a.current:active,*/
nav a.current:hover, nav a.current:active {
    text-decoration: none;
}

/*h1 a.current:before, h1 a.current:after,*/
nav a.current:before, nav a.current:after {
    visibility: inherit;
}


/** CONTENT **/

article, section {
    padding: 0.5em 0 1em;
    position: relative;     /* TEMP HACK just for the h3 styles below */
}

/* articles and sections should be separated by borders... */
article, section {
    border-top: 1px solid #eee;
}

/* ...using border-top since our only way of excluding is after header */
header + article, header + section {
    border-top: none;
}

/* clearfix these in case any content is floated: j.mp/bestclearfix */
article:after, section:after {
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    zoom: 1;
}

/** blog index: make post snippets look like normal, non-link text -- and
    don't underline the text on hover! XXX FIXME for some reason, putting
    text-decoration: none on the p doesn't work! TODO investigate... */
a.post article p {
    color: #444;
}
a.post:hover, a.post:active {
    text-decoration: none;
}
/** but do make the headline look and feel like a link, incl. underline: */
a.post:hover article h2,
a.post:active article h2 {
    text-decoration: underline;
}

h2, h3, p, ol, ul {
    margin: 1em 0;
}

/* for blog posts, this is the post title */
h2 {
    font-size: 125%;
    margin-bottom: 0;
}

/* on post pages, the title is a link but should look normal */
h2 a.current {
    color: #444;
}
h2 a.current:hover, h2 a.current:active {
    color: black;
}

/* this is the publish date on blog posts and the blog index */
h2 time[pubdate] {
    float: right;
    font-size: 60%;
    font-weight: lighter;
    color: #888;

    /* XXX FIXME can't figure out how to align to baseline; hack: */
    position: relative;
    bottom: -0.75em;
}

/* and clearfix for the above... XXX duplicated from earlier! */
h2:after {
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    zoom: 1;
}

/* this is for section headlines within blog posts */
h3 {
    margin-top: 2em;
}

/* TODO might want to do this at some point; just doesn't look good now...
p {
    text-align: justify;
}
*/

/* blog post images: */
img {
    max-width: 100%;
    vertical-align: middle;
    margin: 0.5em auto;
}

/* and we'll apply some hover treatment to image links -- but not w/ touch: */
.no-touch a img {
    opacity: 0.9;
}
.no-touch a:hover img {
    opacity: 1;
}

/** For lists, we'll reimplement the numbers/bullets ourselves to get our own
    custom style. CSS counters to the rescue here for numbers! (IE8+) */
ol, ul {
    list-style: none none inside;
    margin-left: 1em;
    counter-reset: item;
}

li {
    position: relative;
}

ol li:before {
    content: counter(item) ")";
    counter-increment: item;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5em;
    color: #888;
    font-size: 75%;
    line-height: 2;     /* default 1.5 adjusted for 75% font-size */
}

ul li:before {
    content: "»";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5em;
    color: #aaa;
    font-size: 75%;
    line-height: 2;     /* default 1.5 adjusted for 75% font-size */
}

blockquote {
    border-left: 2px solid #ddd;
    padding-left: 1em;
    color: #666;
    font-size: 85%;
    font-style: italic;
}

aside {
    font-size: 80%;
    font-style: italic;
    margin: 1.5em 0;
    color: #888;
}

aside a, aside a:visited {
    color: #44b;
}

aside a:hover, aside a:active {
    color: #226;
}

div.stats, div.buttons, div.continue {
    margin: 0.5em 0 1.5em;
    font-size: 75%;
    color: #888;
}

/* Since these are all secondary links, apply the secondary link colors: */

div.stats a, div.stats a:visited,
div.buttons a, div.buttons a:visited,
a.post div.continue, a.post:visited div.continue {
    color: #44b;
}

div.stats a:hover, div.stats a:active,
div.buttons a:hover, div.buttons a:active,
a.post:hover div.continue, a.post:active div.continue {
    color: #226;
    text-decoration: underline;     /* for the a.post div.continue */
}

div.stats {
    float: left;
}

div.buttons, div.continue {
    float: right;
}

div.buttons > * {
    display: inline-block;
    height: 20px;
    vertical-align: bottom !important;  /* override generated inline styles... */
}

/* XXX FIXME hack needed since this messes up layout. weird? */
div.buttons > #fb-root {
    display: none;
}

div#comments {
    clear: both;
    margin: 1em 0;
    /* TODO min-height for an accurate layout sooner? */
}

/* for Facebook comments, override/customize styles as needed: */
div.fb-comments {
    display: block;
}
div.fb-comments span, div.fb-comments iframe {
    width: 100% !important;
}


/** FOOTER **/

footer {
    text-align: center;
    padding-top: 1em;
    font-size: 80%;
    border-top: 1px solid #eee;
}

p#copy {
    color: #888;
    font-style: italic;
}

p#copy a.external {
    /* hide the text: */
    color: transparent;
    overflow: hidden;
    text-indent: 99em;

    /* use a background-image instead: */
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent no-repeat left center;
    background-size: contain;

    /* and add some breathing room, but still a hit target: */
    /* (see below for first-of-type adjustment) */
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0.33em;

    /* show them at partial opacity until hover (below): */
    opacity: 0.5;
}

p#copy a.external:hover {
    opacity: 1.0;
}

p#copy a.external:first-of-type {
    margin-left: 0.33em;
}

p#copy a.twitter {
    background-image: url(/images/twitter/bird_blue_16.png);
}

p#copy a.feed {
    background-image: url(/images/feed/feed-icon-14x14.png);
}
