/** GENERAL LAYOUT **/

html {
    padding: 1em 34px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

@media screen and (max-width: 480px) {
    html {
        padding: 0.5em 1em;
    }
}



/** GENERAL TEXT AND COLORS **/

html {
    /* white background by default */
    /* #444 text color already defined in h5bp-base */
}

/* applying font family uniformly across affected elements as per h5bp! */
body, select, input, textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Thonburi", sans-serif;
}

body {
    font-size: 120%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    line-height: 1.5;
}

a, a:visited {
    text-decoration: none;
    color: #00b;
}

a:hover, a:active {
    color: #006;
}

em {
    font-style: italic;
}

em a, em a:visited {
    font-style: normal;
    padding: 0 0.2em;
    background-color: #ffa;
}

em a:hover, em a:active {
    background-color: #ff8;
}

@media screen and (max-width: 480px) {
    li > a, nav > a {
        line-height: 1.5em;
    }
}



/** HEADER **/

header {
    text-align: center;
    padding-bottom: 1em;
}

h1 {
    font-size: 250%;
}

h1 a, h1 a:visited {
    color: #444;
}

h1 a:hover, h1 a:active {
    color: black;
}

nav {
    margin: 0.5em auto 1em;
}

nav a {
    margin: 0 0.2em;
}

/*h1 a:before,*/ nav a:before {
    content: "{";
    margin-right: 0.2em;
}

/*h1 a:after,*/ nav a:after {
    content: "}";
    margin-left: 0.2em;
}

/*h1 a:before, h1 a:after,*/
nav a:before, nav a:after {
    visibility: hidden;
    color: #ccc;
}

nav a:hover:before, nav a:hover:after,
nav a:active:before, nav a:active:after {
    color: #bbb;
}

/*h1 a.current:before, h1 a.current:after,*/
nav a.current:before, nav a.current:after {
    visibility: inherit;
}



/** CONTENT **/

article, section {
    padding: 0.5em 0 1em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    position: relative;     /* TEMP HACK just for the h3 styles below */
}

article:after, section:after {
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    zoom: 1;
}

h2, h3, p, ol, ul {
    margin: 1em 0;
}

h2 {
    font-size: 125%;
    margin-bottom: 0;
}

/* TEMP HACK all these were contrived just for publish date on blog posts */
h3 {
    position: absolute;
    top: 2em;
    right: 0;
    font-size: 75%;
    font-weight: lighter;
    color: #888;
}

/* TODO might want to do this at some point; just doesn't look good now...
p {
    text-align: justify;
}
*/

ul {
    list-style: none none inside;
    margin-left: 2em;
}

ul li {
    position: relative;
}

ul li:before {
    content: "»";
    position: absolute;
    top: 0.1em;
    left: -1.5em;
    color: #ccc;
    font-size: 75%;
}

aside {
    font-size: 80%;
    font-style: italic;
    margin: 1.5em 0;
    color: #888;
}

aside a, aside a:visited {
    color: #44b;
}

aside a:hover, aside a:active {
    color: #226;
}

div.stats, div.buttons {
    margin: 1em 0;
    font-size: 75%;
    color: #888;
}

/* TODO these should really be LESS-ified... */

div.stats a, div.stats a:visited {
    color: #44b;
}

div.stats a:hover, div.stats a:active {
    color: #888;
}

div.stats {
    float: left;
}

div.buttons {
    float: right;
}

div.buttons > * {
    height: 20px;
    vertical-align: bottom !important;  /* override generated inline styles... */
}

/* XXX FIXME hack needed since this messes up layout. weird? */
div.buttons > #fb-root {
    display: none;
}

div.comments {
    clear: both;
    margin: 1em 0;
    /* TODO min-height for an accurate layout sooner? */
}



/** FOOTER **/

footer {
    text-align: center;
    padding-top: 1em;
    font-size: 80%;
}

p#copy {
    color: #888;
    font-style: italic;
}
