/** LAYOUT **/

/* simple reset: */
html, body, #slides, #notes {
    margin: 0;
    padding: 0;
}

#slides, #notes {
    position: absolute;
}

#slides {
    border: 0;
    width: 1024px;
    height: 768px;
    -webkit-transform-origin: 0 0;
}


