/** LAYOUT **/

/* simple reset: */
html, body, #slides, #notes {
    margin: 0;
    padding: 0;
}

#slides {
    border: 0;
    width: 1024px;
    height: 768px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

#notes {
    max-width: 1024px;  /* same as slides; too long? */
    margin: auto;
    padding: 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.portrait #slides {
    display: block;
    margin: auto;
}

body.landscape #slides {
    position: fixed;
    top: 0;     /* TODO would be great to vertically align */
    left: 0;
}

body.landscape #notes {
    position: absolute;
    top: 0;
    right: 0;
}


/** THEME **/

body {
    color: #444;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Thonburi", sans-serif;
    font-size: 120%;
    line-height: 1.5;
}

a, a:visited {
    color: #00b;
    text-decoration: none;
}
a:hover, a:active {
    color: #006;
    text-decoration: underline;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

noscript p {
    color: red;
    font-weight: bold;
    margin: 1em;
    text-align: center;
    text-decoration: underline;
}
